@charset "UTF-8";

* {margin:0;padding:0;box-sizing:border-box}
body {background:#fafafb}
button {display:inline-block;border:0 none;background:transparent}
button, input, select, textarea, th, td {font-size:16px;line-height:1.5}
.clearfix::after {content:'';display:block;clear:both}
.d-flex {display:flex;flex-direction:row;align-items:center}
.ml-auto {margin-left:auto}
.left {float:left}
.right {float:right}
/* .canvas-bg {width:700px;height:700px;border:2px dashed red;background:aliceblue;} */
.canvas {position:absolute;top:150px;border-radius:10px;box-shadow:1px 1px 10px rgba(0, 0, 0, 0.05);z-index:1}
.canvas.on {z-index:5}
.wrap {max-width:750px;margin:0 auto}
.content {margin:60px 0}
.btn {border-radius:5px;cursor:pointer}
.btn.active {background-color:black;color:#fff}
.btn-wrap--tool {margin-bottom:30px}
.btn-wrap--tool .btn {font-size:20px;padding:10px;line-height:1}
.btn--save {font-size:20px;padding:10px;line-height:1}
.input-wrap {gap:10px}